<%= error_messages_for 'license' %>

<% form_for @license, :builder => TabularFormBuilder, :html => {:multipart => true} do |f| %>

  <div class="box tabular ">
    <p><%= f.text_field :name, :required => true %></p>
    <p><%= f.text_field :short_name %></p>
    <p><%= f.text_field :identifier, :required => true %></p>
    <p><%= f.text_field :url %></p>
  </div>

  <% if @license.new_record? %>
    <h3><%= t :label_initial_version %>:</h3>
    <% f.fields_for :versions do |vf| %>
      <%= render :partial => 'license_versions/fields', :locals => {:f => vf, :license => @license } %>
    <% end %>
  <% end %>

  <h3><%= t :label_logo_plural %></h3>
  <%= render :partial => 'logos' %>
  <%= render :partial => 'attachments/form' %>

  <%= submit_tag l(@license.new_record? ? :button_create : :button_save) %>

<% end %>


