<h2><%= link_to t(:label_license_plural), licenses_path %> &#187; <%= @license.name %></h2>

<%= render :partial => 'form' %>

<div>
  <% if User.current.allowed_to?(:edit_license, nil, :global => true) %>
  <div class="contextual">
    <%= link_to t(:label_version_new), new_license_license_version_path(@license), :class => 'icon icon-add' %>
  </div>
  <% end %>
  <h3><%= LicenseVersion.human_name(:count => 2) %></h3>

  <%= render :partial => 'versions', :locals => { :license => @license } %>

</div>

<% html_title "#{t(:label_license_plural)} - #{@license.name}" %>
