<% html_title t(:label_license_plural) %>

<div class="contextual">
  <% if User.current.allowed_to?(:add_license, nil, :global => true) %>
    <%= link_to t(:label_license_new), new_license_path, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= t(:label_license_plural) %></h2>


<div class="autoscroll">
  <% @licenses.each do |license| %>
    <h3><%= link_to license.name, license %>
      <% if User.current.allowed_to?(:edit_license, nil, :global => true) %>
        <small class="contextual">
          <%= link_to l(:button_edit), edit_license_path(license), :class => 'icon icon-edit' %> |
          <%= link_to l(:button_delete), license, :method => :delete, :class => 'icon icon-del', :confirm => 'Are you sure?' %>
        </small>
      <% end %>
    </h3>
    <ul>
      <% license.versions.each do |version| %>
        <li><%= link_to version.title, license_version_path(license, version) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
