<% html_title t(:label_license_plural) %>

<div class="contextual">
  <% if User.current.allowed_to?(:add_license, nil, :global => true) %>
    <%= link_to t(:label_license_new), new_license_path, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= t(:label_license_plural) %></h2>

<%= textilizable @settings[:top_text] %>

<div class="autoscroll">
  <% @licenses.each do |license| %>
    <div class="license">


      <h3><%= link_to_license license %>
      <% if User.current.allowed_to?(:edit_license, nil, :global => true) %>
        &nbsp;
        <%= link_to "", edit_license_path(license), :class => 'icon icon-edit', :title => t(:button_edit) %>
        <%= link_to "", license, :method => :delete, :class => 'icon icon-del', :title => t(:button_delete), :confirm => 'Are you sure?' %>
      <% end %>
      </h3>

      <%= render :partial => 'versions', :locals => {:license => license} %>
    </div>
  <% end %>
</div>

<%= textilizable @settings[:bottom_text] %>
