<%= error_messages_for 'license_version' %>

<% form_for [@license, @license_version], :builder => TabularFormBuilder, :html => {:multipart => true} do |f| %>

  <div class="box tabular ">
    <p><%= f.text_field :identifier, :required => true %></p>
    <p><%= f.text_field :authors %><p>
    <p><%= f.text_field :url %></p>
    <p><%= f.text_area :text, :cols => 100, :rows => 25, :class => 'wiki-edit', :accesskey => accesskey(:edit) %></p>
    <%= wikitoolbar_for 'license_version_text' %>
  </div>

  <%= submit_tag l(@license.new_record? ? :button_create : :button_save) %>

<% end %>

